<nav class="navbar navbar-default" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">Kickass GUI</a>
		</div>

		<ul class="nav navbar-nav">
			<li class="{{ 'active' if cat == 'movies' else '' }}"><a href="{{ uri_for('category', cat='movies') }}">Movies</a></li>
			<li class="{{ 'active' if cat == 'tv' else '' }}"><a href="{{ uri_for('category', cat='tv') }}">TV</a></li>
			<li class="{{ 'active' if cat == 'games' else '' }}"><a href="{{ uri_for('category', cat='games') }}">Games</a></li>
		</ul>

	</div>
</nav>
