{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TPB GUI{% endblock %}</title>

    {% block css %}
		{% if debug %}
	        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
            <link href="{{ STATIC_URL }}main/css/main.less" rel="stylesheet/less"/>
		{% else %}
	        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
            <link href="{{ STATIC_URL }}main/css/main.css" rel="stylesheet"/>
		{% endif %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
{% include 'nav.html' %}

<div class="container">
	{% block content %}
	{% endblock %}
</div><!-- /.container -->


{% block js %}
	{% if debug %}
	    <script src="{{ STATIC_URL }}jquery/dist/jquery.js"></script>
	    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.js"></script>
	    <script src="{{ STATIC_URL }}less.js/dist/less-1.7.4.js"></script>
	{% else %}
	    <script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
	    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
	{% endif %}
{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55167241-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
