{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
        <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/less/main.less' %}" rel="stylesheet/less"/>
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
{% include 'nav.html' %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}


{% block js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/less.js/dist/less-1.7.4.min.js' %}"></script>
{% endblock %}

</body>
</html>
