{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}main/css/main.less" rel="stylesheet/less"/>
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
{% include 'nav.html' %}

<div class="container">
	{% block content %}

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

	{% endblock %}
</div><!-- /.container -->


{% block js %}
    <script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}less.js/dist/less-1.7.4.min.js"></script>
{% endblock %}

</body>
</html>
