{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron">
		<h2><strong>T</strong>he <strong>P</strong>irate <strong>B</strong>ay <small class="text-muted"><strong>G</strong>raphical <strong>U</strong>ser <strong>I</strong>nterface</small> </h2>
		<h4>This is a test to valuate GAE</h4>
		<p>You can use it if you wish</p>
		<p>It stores what you've downloaded (green highlighting); very useful for series and movies</p>
		<p>I recommend looking at <a href="{% url 'category' code=207 %}">hd movies</a>; it also has ratings from imdb</p>
	</div>
{% endblock %}

