{% load sliders %}
{% if category.code == 207 %}
	<div class="well">
		<h4 class="lead text-center">Cr&egrave;me de la cr&egrave;me</h4>
		{% getSliderMovies rows %}
		<div class="row">
			{% for sliderMovie in sliderMovies %}
				<div class="col-sm-4 col-md-2">
					<div class="thumbnail">
						<img src="{{ sliderMovie.img }}" alt="">
						{% if sliderMovie.rating %}
							<span class="rating">{{ sliderMovie.rating }}</span>
						{% endif %}
						<div class="caption">
							<p class="download"><a href="{{ sliderMovie.magnet }}" class="btn btn-default btn-block" role="button" data-id="{{ sliderMovie.tpb_id }}">
								<span class="glyphicon glyphicon-download"></span> {% if sliderMovie.resolution %}{{ sliderMovie.resolution }}p{% else %}Download{% endif %}
							</a></p>
							<p class="text-center"><a href="http://www.thepiratebay.se/torrent/{{ sliderMovie.tpb_id }}" target="_newtab">{{ sliderMovie.title_rating }}</a></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
